* {
  outline: 0 !important;
  font-family: sans-serif;
}

/* html {
  width: 100%;
  height: 100%;
} */

body {
  display: flex;
  background: center / cover url("../images/bg1.jpg");
  /* background-color: #d6d0eb; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  /* backdrop-filter: blur(10px); */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*позже убрать (скрываем скрол по X)*/
}

.mainBlock {
  width: 90%;
  /* background-color: aqua; */
  /* height: 500px; */
  max-height: 500px;
  /* height: 100vh; */
  border-radius: 10px;
  padding: 10px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* align-items: center;
  justify-content: center; */
  /* backdrop-filter: blur(10px); */
}

.superMainBlock {
  width: 100%;
  /* background-color: rgb(231, 133, 133); */
  /* height: 100vh; */
  /* border-radius: 5px;  */
  /* justify-content: center; */
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.divTown {
  display: flex;
  width: 100%;
  align-items: center;
  /* background-color: blue; */
  justify-content: center;
  gap: 10px;
}

.inputTown {
  width: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  border-width: 0;
}

.inputButtonFind {
  padding: 5px 10px;
  border-radius: 10px;
  border-width: 0;
}

.card {
  display: flex;
  /* background-color: rgb(149, 116, 196); */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.8px);
  -webkit-backdrop-filter: blur(14.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 45%;
  min-width: 350px;
  /* height: 400px; */
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.imageWeather {
  width: 100px;
  height: 100px;
}

.imageIcon {
  width: 20px;
  height: 20px;
}

.cardUpInfo {
  /* display: flex; */
  width: 100%;
  /* background-color: rgb(67, 163, 38); */
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.cardUpInfoWeather {
  display: flex;
  width: 100%;
  /* background-color: rgb(183, 206, 57); */
  align-items: center;
  justify-content: space-around;
  /* gap: 10px; */
  overflow: hidden;
  flex-direction: row;
  margin: -20px 0;
}

.cardMiddleInfo {
  display: flex;
  width: 100%;
  /* background-color: rgb(53, 175, 114); */
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.cardDownInfo {
  display: flex;
  width: 100%;
  /* background-color: rgb(70, 59, 119); */
  /* align-items: center;
  justify-content: center; */
  gap: 5px;
  /* overflow: hidden; */
  overflow: auto;
  flex-wrap: nowrap;
  /* white-space: nowrap; */
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
  /* overflow-x: scroll; */
  scrollbar-color: rgb(233, 119, 119) transparent;
  scrollbar-width: thin;
}

@media screen and (max-width: 990px) {
}

.hourWeather {
  display: flex;
  width: fit-content;
  /* background-color: aqua; */
  padding: 7px 10px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.cityText {
  color: aliceblue;
  padding: 0 30px;
  font-size: 23px;
  font-weight: 700;
}

.tempText {
  color: aliceblue;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.conditionText {
  color: aliceblue;
  font-size: 23px;
  font-weight: 700;
  margin: 0;
}

.tempAndConditionDiv {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  align-items: center;
}

.weatherText {
  color: aliceblue;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.timeText {
  color: aliceblue;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
